*{
    background-color: #b3afaf;
}
h2{
    color: rgb(192, 60, 82);
}
.PCG{
    color: #0ff;
    text-align: center;
}
.p1{
    text-align: justify;
}
#t1{
    text-align: right;
    color: aquamarine;
}